@using BonusMvcStok.Models.Entity
@model List<tbl_satislar>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>ÜRÜN</th>
        <th>PERSONEL</th>
        <th>MÜŞTERİ</th>
        <th>FİYAT</th>
        <th>TARİH</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.id</td>
            <td>@x.Tbl_urunler.ad</td>
            <td>@x.tbl_personel.ad @x.tbl_personel.soyad</td>
            <td>@x.tbl_musteri.ad @x.tbl_musteri.soyad</td>
            <td>@x.fiyat</td>
            <td>@x.tarih</td>
          
        </tr>
    }
</table>
<a href="/Satislar/YeniSatis" class="btn btn-primary">Yeni Satış İşlemi</a>

